/*
 * Author: Jerry Li
 */

@font-face {
    font-family: 'Source Han Sans';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2);
}

@font-face {
    font-family: 'Source Han Sans';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2);
}

body {
    margin: 0;
}

#board {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

#board.activate {
    overflow: hidden;
}

#handle {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

#handle.exited {
    border-bottom: solid 1px #eee;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(0.5em);
}

#handle-backdrop {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-image: url(https://media.jerryly.cn/rect4581.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 0.2s;
    position: absolute;
    z-index: -1;
}

#handle.exited #handle-backdrop {
    opacity: 0;
}

#handle:hover #handle-backdrop {
    opacity: 0.5;
}

#handle.exited:hover #handle-backdrop {
    opacity: 0;
}

#handle-content {
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#handle.exited #handle-content {
    justify-content: space-between;
    z-index: 1;
}

#handle.exited #handle-separator {
    display: none;
}

#handle-logo-wrapper {
    padding: 6px;
    border-radius: 10px;
    transition: all 0.2s;
}

#handle-logo {
    aspect-ratio: 150/67;
    height: 30px;
    background-image: url(https://media.jerryly.cn/home-button-light.svg);
    background-repeat: no-repeat;
}

#handle-separator {
    width: 1px;
    height: 20px;
    background-color: #333;
    margin-left: 5px;
    margin-right: 5px;
}

#handle-direct {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#handle-direct a {
    text-decoration: none;
    color: unset;
    border-radius: 10px;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#handle-direct a:hover,
#handle-logo-wrapper:hover,
#basement-content-layer ul li:hover {
    background-color: #ffffff;
    box-shadow: 0 4px 4px hsl(0deg 0% 0% / 0.025),
        0 8px 8px hsl(0deg 0% 0% / 0.025),
        0 16px 16px hsl(0deg 0% 0% / 0.025),
        0 32px 32px hsl(0deg 0% 0% / 0.025);
}

#handle-direct a .material-symbols-outlined {
    font-weight: 300;
}

.handle-direct-label {
    margin-left: 0px;
    width: fit-content;
    max-width: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0, 0.8, 0, 1);
}

#handle-direct a:hover .handle-direct-label {
    margin-left: 6px;
    width: fit-content;
    max-width: 4em;
}

#basement {
    width: 100%;
    height: 0;
    padding: 0;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(0.5em);
    transition: all 0.4s cubic-bezier(0, 1, 0, 1.03);
}

#basement-backdrop {
    overflow: hidden;
}

#basement-content-layer {
    width: calc(100% - 40px);
    height: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.2s;
    opacity: 0;
}

#basement.entered #basement-content-layer {
    height: fit-content;
    max-height: 100vh;
    opacity: 1;
    padding: 20px;
}

#basement-input {
    border: none;
    border-radius: 12px;
    padding: 14px;
    box-shadow: 0 4px 4px hsl(0deg 0% 0% / 0.025),
        0 8px 8px hsl(0deg 0% 0% / 0.025),
        0 16px 16px hsl(0deg 0% 0% / 0.025),
        0 32px 32px hsl(0deg 0% 0% / 0.025);
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    width: calc(100% - 28px);
    justify-content: space-between;
    align-items: center;
}

#basement-input section {
    width: calc(100% - 68px);
    min-width: 50%;
}

#basement-input input,
#basement-input textarea {
    border: none;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    resize: none;
    width: 100%;
}

#basement-input textarea {
    height: 1em;
    font-weight: normal;
}

#basement-button {
    border: none;
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#basement-backdrop-pause {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    font-weight: normal;
    background-color: transparent;
    border: none;
}

.basement-circle {
    width: 800px;
    height: 800px;
    border-radius: 600px;
    filter: blur(100px);
    background-image: radial-gradient(circle at top, #fff 20%, #00d3d8, #7dbfff);
    animation: bubble 5s infinite alternate;
    position: absolute;
    z-index: -2;
    overflow: hidden;
    transition: all 0.2s;
    display: none;
}

.basement-circle.move {
    display: block;
}

.basement-label {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 8px;
}

#basement-content-layer hr {
    background-color: transparent;
    border: none;
    margin-bottom: 300px;
}

@keyframes bubble {
    0% {
        top: -1000px;
        transform: rotate(0deg);
    }

    100% {
        top: -100px;
        transform: rotate(340deg);
    }
}

.simple-list-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    width: calc(100% - 40px);
    height: 0;
    max-height: 0;
    padding-left: 0;
    z-index: 1;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#basement.entered .simple-list-list {
    height: fit-content;
    max-height: 100vh;
}

.simple-list-list a,
#simple a {
    text-decoration: none;
    color: unset;
    width: fit-content;
}

.simple-list-list a li {
    font-size: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    transition: all 0.2s;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    width: fit-content;
}

.simple-list-list svg {
    width: 1.3em;
    height: 1.3em;
}

.simple-list-list .file-type {
    font-weight: normal;
    display: none;
}

.simple-list-list a li .material-symbols-outlined {
    font-size: 18px;
}

@media (prefers-color-scheme: dark) {
    #handle-backdrop {
        background-image: url(https://media.jerryly.cn/rect4581-dark.png);
    }

    #handle-logo {
        background-image: url(https://media.jerryly.cn/home-button-dark.svg);
    }

    #handle-separator {
        background-color: #eee;
    }

    #handle-direct a:hover,
    #handle-logo-wrapper:hover,
    #basement-content-layer ul li:hover {
        background-color: #333;
    }

    #handle.exited {
        border-bottom-color: #333;
        background-color: rgba(12, 12, 12, 0.7);
    }

    #basement {
        background-color: rgba(12, 12, 12, 0.7);
    }

    .basement-circle {
        background-image: radial-gradient(circle at top, #000000 20%, hsl(181, 100%, 32%), hsl(210, 100%, 65%));
    }

    #basement-input {
        background-color: rgb(59, 59, 59);
    }

    #basement-input #basement-button {
        background-color: #fff;
        color: black;
    }

    .simple-list-list svg {
        fill: white;
    }
}

@media (max-width: 768px) {
    #basement-content-layer {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .simple-list-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 430px) {
    .simple-list-list {
        grid-template-columns: 1fr;
    }
}

/* general styles */

.text-n {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

#copyright-info {
    font-family: 'Manrope', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    transition: all 0.3s cubic-bezier(0, 0.6, 0, 1.05);
}

#copyright-info.shifted {
    margin-left: 310px;
    filter: blur(0.5em);
}

#copyright-info a {
    text-decoration: none;
}

#backlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eef1f4;
    z-index: -1;
}

@media (prefers-color-scheme: dark) {
    #backlight {
        background-color: #012030;
    }
}

.empty-box {
    height: 100vh;
}

.text-n {
    font-family: 'Manrope', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

/* Blog-specific styles */

#link-wrapper a:nth-child(4) {
    font-weight: bold;
}

main {
    font-family: 'Source Han Sans', 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo {
    background-image: url(../img/logo-button-light.svg);
}

@media (prefers-color-scheme: dark) {
    #logo {
        background-image: url(../img/logo-button-dark.svg);
    }
}

a {
    color: unset;
}

#back-to-top {
    width: 20px;
    height: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(238, 238, 238, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    border: solid 1px #eee;
    border-radius: 5px;
    color: #000;
    z-index: 1;
    transition: all 0.2s;
}

#back-to-top a {
    text-decoration: none;
}

#back-to-top .material-symbols-outlined {
    font-size: 20px;
}

#back-button {
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

#back-to-top:hover #back-button,
#back-to-top:hover {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(192, 192, 192, 0.50);
}

@media (prefers-color-scheme: dark) {
    #back-to-top {
        color: #fff !important;
    }

    #back-to-top {
        background-color: rgba(68, 68, 68, 0.85) !important;
        border: solid 1px #444 !important;
    }
}

#bookmark {
    position: fixed;
    top: 130px;
    right: 15px;
    left: calc(80% - 10px);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav {
    height: fit-content;
    font-family: 'Source Han Sans', 'Manrope', 'ITC Garamond Narrow', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    background-color: hsl(210, 21%, 88%);
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
}

nav>p {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    margin-bottom: 0;
    font-size: 14px;
    border-top: solid 1px #e0e0e04c;
}

nav>p>a {
    display: flex;
    align-items: center;
}

nav>p>a>span.material-symbols-outlined {
    font-size: 20px;
    font-weight: 700;
}

nav>ul {
    margin-left: 20px;
    margin-right: 15px;
    padding-left: 0;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav li {
    margin-bottom: 2px;
    font-size: 15px;
    padding: 2px;
    border-radius: 5px;
    transition: all 0.2s;
}

nav li:hover {
    padding-left: 10px;
    background: hsl(210, 21%, 78%);
}

#post-flip {
    position: fixed;
    right: 4px;
    top: 70px;
    display: flex;
}

#post-flip a {
    width: 40px;
    height: 40px;
    border: solid 1px #eee;
    background-color: #fff;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#post-flip a:hover {
    background-color: #eee;
}

h1,
h2,
p,
h3,
ul {
    font-family: 'Manrope', 'ITC Garamond Narrow', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    margin-left: calc(10% + 20px);
    font-family: 'Manrope', 'ITC Garamond Narrow', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: calc(80% - 22px);
    text-align: justify;
    margin-top: 70px;
    margin-left: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    border: solid 1px #eee;
    border-radius: 10px;
    transition: all 0.2s;
}

main.active,
#bookmark.active {
    filter: blur(12px);
}

main p,
main h2,
main h3,
main ul,
main .codehilite,
main a,
footer {
    margin-left: 14px;
    margin-right: 14px;
}

.post-banner {
    height: fit-content;
    min-height: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(210, 21%, 88%);
    border-top-right-radius: 10px;
    font-family: 'Manrope', 'ITC Garamond Narrow', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-banner::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
    background-image: linear-gradient(to right, hsl(210, 21%, 78%), hsl(210, 21%, 88%));
    content: '';
}

.post-banner a {
    text-decoration: none;
    padding-left: 20px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.post-banner a span {
    font-size: 14px;
}

.post-banner a span.material-symbols-outlined {
    font-size: 20px;
}

.post-banner #title {
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
    padding-left: 20px;
    margin-right: 10px;
    transition: all 0.2s;
    white-space: nowrap;
    overflow: hidden;
}

.b-item>ul {
    margin: 0;
    padding: 0;
}

.b-item>ul>li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.codehilite {
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    margin-right: 30px;
    border: solid 1px #eee;
    background-color: black;
    margin-bottom: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.small-table {
    margin-left: 10px;
}

.small-table table {
    font-family: 'Manrope', 'ITC Garamond Narrow', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.small-table table>thead {
    text-align: left;
}

.small-table table td {
    padding-right: 10px;
    border-bottom: solid 1px #ddd;
}

#small-table-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    margin-left: 30px;
}

#footer-links a {
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    svg {
        fill: white;
    }

    main {
        border-color: hsl(200, 96%, 6%);
    }

    .post-banner {
        border-bottom-color: #333;
    }

    nav,
    .post-banner {
        background-image: unset !important;
        background-color: hsl(200, 96%, 8%) !important;
    }

    nav::before,
    .post-banner::before {
        background-image: linear-gradient(to right, hsl(200, 96%, 6%), hsl(200, 96%, 8%));
    }

    #post-flip a {
        border-color: #333;
        background-color: black;
    }

    #post-flip a:hover {
        background-color: #333;
    }

    #list.active {
        border-bottom-color: #5e5e5e;
    }

    .codehilite {
        border-color: #333;
    }
}

@media (max-width: 768px) {
    #content-unit {
        margin-top: 130px;
    }

    #bookmark {
        position: fixed;
        left: 12px;
        right: 12px;
        top: 60px;
        display: flex;
        border-radius: 10px;
        background-color: hsl(210, 21%, 88%);
    }

    main {
        width: calc(100% - 10px);
        margin-left: 4px;
    }

    .post-banner {
        display: none;
    }

    nav {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        background-color: unset;
    }

    nav #list-of-contents {
        padding-top: 0;
        margin-top: 10px;
        margin-left: 9.5px;
        border-top: none;
    }

    .post-banner::before {
        display: none;
    }

    .post-banner::after {
        height: 5px;
    }

    .post-banner a {
        padding-left: 0;
        margin-top: 10px;
    }

    .post-banner span {
        display: none;
    }

    #post-flip {
        top: 60px;
    }

    @media (prefers-color-scheme: dark) {
        #bookmark {
            background-color: transparent;
            border-color: #333;
        }

        nav,
        .post-banner {
            background-color: transparent !important;
        }
    }
}