/*
 * Author: Jiangyuan Li
 * Version: 10.0
 * Date: 2025-01-17
 */

/* All styles */

@font-face {
    font-family: 'ITC Garamond Narrow';
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/itc-garamond-std-book-narrow.otf);
}

@font-face {
    font-family: 'ITC Garamond Narrow';
    font-weight: 300;
    font-style: italic;
    src: url(../fonts/itc-garamond-std-book-narrow-italic.otf);
}

@font-face {
    font-family: 'ITC Garamond Narrow';
    font-weight: 1000;
    font-style: normal;
    src: url(../fonts/itc-garamond-std-bold-narrow.otf);
}

@font-face {
    font-family: 'ITC Garamond Narrow';
    font-weight: 1000;
    font-style: italic;
    src: url(../fonts/itc-garamond-std-bold-narrow-italic.otf);
}

@font-face {
    font-family: 'ITC Garamond Narrow';
    font-weight: 100;
    font-style: normal;
    src: url(../fonts/itc-garamond-std-light-narrow.otf);
}

@font-face {
    font-family: 'ITC Garamond Narrow';
    font-weight: 100;
    font-style: italic;
    src: url(../fonts/itc-garamond-std-light-narrow-italic.otf);
}

#bar {
    width: fit-content;
    height: 50px;
    position: fixed;
    left: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff9f3;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(1, -0.065, 0, 1.065);
    z-index: 40;
}

#lines {
    height: 41px;
    padding-top: 8px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(1, -0.065, 0, 1.065);
    white-space: nowrap;
}

#home {
    height: 46px;
    aspect-ratio: 9/5;
    background-image: url(../images/home-button-light.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center center;
    transition: all 0.2s;
}

#home:hover {
    background-size: 95%;
}

#home:active {
    background-size: 85%;
}

.lines {
    display: block;
    font-family: 'ITC Garamond Narrow';
    font-weight: lighter;
    font-size: 15px;
    margin-left: 10px;
}

#waterfall {
    width: 100vw;
    height: 0vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s cubic-bezier(.86, 0, .07, 1);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 39;
}

#waterfall.active {
    height: 100vh;
    background-color: #fff9f3;
}

#bubble-1 {
    z-index: -1;
}

#waterfall.active #bubble-1 {
    width: 800px;
    height: 800px;
    position: absolute;
    top: -1000px;
    right: -1000px;
    border-radius: 600px;
    filter: blur(100px);
    background-image: radial-gradient(circle at top, #fff9f3, rgb(255, 199, 58), rgb(146, 72, 40));
    animation: bubble 5s infinite alternate;
    z-index: -1;
}

#wa-table {
    margin-top: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

#wa-links {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    font-family: 'ITC Garamond Narrow';
    font-weight: lighter;
    font-size: 25px;
}

#wa-table h3 {
    margin-left: 30px;
    font-family: 'ITC Garamond Narrow';
    font-weight: normal;
    font-size: 50px;
    margin-top: 0px;
}

#wa-links a,
#lines a {
    text-decoration: none;
    color: unset;
}

#wa-links ul {
    list-style: none;
    padding-left: 30px;
    padding-top: 0;
    margin-top: 0;
}

#wa-links input {
    height: 30px;
    font-family: 'ITC Garamond Narrow';
    font-weight: lighter;
    font-size: 25px;
    border: none;
    border-radius: 5px;
}

@keyframes bubble {
    0% {
        top: -1000px;
        right: -100px;
        transform: rotate(0deg);
    }

    100% {
        top: -100px;
        right: -600px;
        transform: rotate(340deg);
    }
}

@media (max-width: 768px) {
    #bar {
        width: calc(100vw - 20px);
        height: 67.5px;
        align-items: start;
    }

    #lines {
        height: 59.5px;
    }

    #wa-table h3 {
        font-size: 30px;
    }

    #wa-table ul {
        padding-left: 6px;
        margin-top: 0;
    }
}

@media (max-width: 430px) {
    #lines {
        white-space: wrap;
    }
}

@media (prefers-color-scheme: dark) {
    #bar {
        background-color: #363534;
    }

    #home {
        background-image: url(../images/home-button-dark.svg);
    }

    #waterfall.active {
        background-color: #363534;
    }

    #waterfall.active #bubble-1 {
        background-image: radial-gradient(circle at top, #1a1a1a, #b86614, rgb(151, 31, 17));
    }

    .pages-container {
        border-color: #333 !important;
    }
}

#content-unit {
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
    font-family: 'ITC Garamond Narrow', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#heading {
    font-family: 'ITC Garamond Narrow', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
}

#text-n {
    font-family: 'ITC Garamond Narrow', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.pages-container {
    padding: 15px;
    border: solid 1px #eee;
    border-radius: 8px;
    text-align: justify;
}

#en-warn {
    width: fit-content;
    padding: 5px;
    border: solid 1px #eee;
    border-radius: 8px;
    font-weight: bold;
}

a {
    color: unset;
}

svg {
    height: 0.9em;
    max-height: 1em;
    fill: black;
}

@media (prefers-color-scheme: dark) {
    svg {
        fill: white;
    }
}

footer #text-n {
    font-weight: lighter;
    margin-left: 15px;
}

/* loader style */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 28px;
    text-align: center;
    z-index: 15;
}

#loader-prompt {
    font-size: 18px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* section style */

#content-unit {
    margin-left: 0px;
    transition: all 0.2s;
}

#content-unit.active {
    margin-left: 0px;
}

#header-unit {
    position: fixed;
    left: 130px;
    top: 10px;
    max-width: calc(100% - 150px);
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(238, 238, 238, 0.5);
    border: solid 1px #eee;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1;
    overflow: hidden;
}

#header-unit>div>a,
#header-unit>div>span>a {
    color: #000000;
}

.header {
    width: fit-content;
    height: 24px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 0;
    display: none;
}

#quick-links {
    height: 50px;
    margin-left: 0;
    margin-right: 0;
    border-right: none;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#quick-links>b {
    display: none;
    padding: unset;
    padding-left: 10px;
    font-size: 15px;
}

.quick-link {
    display: inline;
    height: 30px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    border-left: solid 1px #ddd;
    transition: all 0.2s;
    font-size: 15px;
}

.quick-link:hover {
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
}

#quick-link-1 {
    margin-left: 10px;
}

/* Scrollable content container */
.content {
    height: 200vh;
    /* Makes the page taller than the viewport for scrolling */
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Scroll indicator */
.scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    /* Adjust height as needed */
    width: 0%;
    background-color: #ffffffca;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* Color of the scroll indicator */
    z-index: -1;
}

#dev-cal-1 {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-top: 120px;
}

#dev-cal-1>a {
    color: #000;
}

#dev-cal-2 {
    font-family: 'Charter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    z-index: -1;
}

#update {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 20px;
    color: rgba(0, 0, 0, 0.401);
    margin-left: 30px;
    margin-right: 30px;
}

/* element style */

#copyright-info {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: #dedede8b;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.copyright-info {
    margin: 10px;
}

.pages-container {
    width: auto;
    margin-top: 30px;
    margin-right: 30px;
    border: solid 1px #dddddd;
    margin-left: 30px;
    padding: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
}

#glass {
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: #ffffff;
    border-left: solid 1px #dddddd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#outside-glass {
    width: auto;
    margin-right: 300px;
}

#exhibit-info {
    padding: 20px;
    text-align: center;
}

#en-warn {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: #dddddd solid 1px;
    overflow: hidden;
}

.subtitle {
    font-weight: bold;
    font-size: 25px !important;
}

nav {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0px;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-right: solid 1px #eee;
    overflow: hidden;
}

nav>p {
    padding-top: 60px;
    padding-left: 20px;
}

nav>ul {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border-top: solid 1px #eee;
}

nav li {
    margin-bottom: 5px;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb>a {
    color: #38383891;
}

.crumb a::after {
    display: inline-block;
    color: #38383891;
    content: ' / ';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

/* Blog-specific styles */

h1,
h2,
p,
h3,
ul {
    font-family: 'Charter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    margin-left: calc(10% + 20px);
    font-family: 'Charter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    margin-top: 60px;
    width: calc(80% - 40px);
    max-height: fit-content;
    margin-left: calc(20% + 20px);
    overflow-x: scroll;
    overflow-y: hidden;
}

main .post-banner {
    width: calc(80% - 40px);
    height: 60px;
    position: fixed;
    top: 0px;
    background-color: white;
    border-bottom: solid 1px #eee;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.post-banner #title {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 20px;
    transition: all 0.2s;
}

.b-item>ul {
    margin: 0;
    padding: 0;
}

.b-item>ul>li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.codehilite {
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    border: solid 1px #333;
    margin-bottom: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.small-table table {
    font-family: 'Charter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.small-table table>thead {
    text-align: left;
}

.small-table table td {
    padding-right: 10px;
    border-bottom: solid 1px #ddd;
}

#small-table-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* media queries */

@media (max-width: 430px) {
    #top-bar {
        max-width: 90vw;
    }

    #map {
        width: 90vw;
    }

    #map-text input {
        width: calc(100% - 28px);
    }

    #map-table-of-contents {
        width: calc(100% - 18px);
    }
}

@media (prefers-color-scheme: dark) {
    #top-bar {
        background-color: black;
        border-color: #333;
    }

    #home {
        background-image: url(../img/home-button-dark.svg);
    }

    #home:hover,
    #current-page:hover,
    #bar-separator-1:hover,
    #bar-separator-2:hover {
        background-color: rgb(47, 47, 47);
    }

    .b-item:hover {
        background-color: rgb(33, 33, 33);
        color: #fff;
    }

    #map,
    #map.active {
        border-color: #333;
    }

    #map.active {
        background-color: rgb(24, 24, 24);
    }

    #map-text,
    #map-text a {
        color: #ffffff00 !important;
    }

    #map-text.active,
    #map-text.active a {
        color: #fff !important;
    }

    #map-text.active input {
        border-color: #333;
        color: white;
    }
}

@media (prefers-color-scheme: dark) {
    #back-to-top {
        color: #fff !important;
    }

    main .post-banner {
        background-color: black !important;
        border-bottom-color: #333;
    }

    nav {
        border-right-color: #333 !important;
    }

    nav>ul {
        border-top-color: #333 !important;
    }

    #list.active {
        border-bottom-color: #5e5e5e;
    }
}

@media (max-width: 768px) {
    html {
        scrollbar-color: unset !important;
    }

    #glass {
        display: none !important;
    }

    #outside-glass {
        width: 100vw !important;
    }

    #header-unit {
        right: 0px !important;
    }

    #quick-links {
        width: unset !important;
    }

    /* blog-specific */
    nav {
        width: 100% !important;
        height: fit-content !important;
        background-color: #000000ad;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        -moz-backdrop-filter: blur(12px);
        z-index: 1;
    }

    main {
        width: calc(100% - 60px) !important;
        margin-left: 30px !important;
        margin-top: 120px !important;
    }

    main .post-banner {
        width: fit-content;
        position: fixed !important;
        top: 50px !important;
        right: 20px;
        z-index: 1;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0 !important;
        border-bottom: none;
        background-color: transparent !important;
    }

    nav>p,
    nav>ul {
        padding-left: 20px !important;
    }

    nav>p {
        padding-top: 70px !important;
    }

    #list.active {
        height: 30vh;
        margin-top: 16px;
        padding: 20px;
        padding-top: 20px;
        padding-bottom: 0;
        margin-bottom: 0px;
        border-bottom: dashed 1px #dbdbdb;
    }

    #list {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        overflow-x: hidden;
        overflow-y: scroll;
    }

    @media (prefers-color-scheme: dark) {
        #header-unit {
            background-color: rgba(42, 42, 42, 0.5) !important;
            border: solid 1px #707070;
        }

        #list.active {
            border-bottom-color: #5d5d5d;
        }
    }

    @media (prefers-color-scheme: light) {
        nav {
            background-color: #ffffffad;
        }

        nav>ul {
            border-top-color: rgb(211, 211, 211) !important;
        }
    }
}

@media (max-width: 430px) {
    #aerial {
        width: calc(100vw - 32px) !important;
        max-width: unset;
    }

    #search-bar,
    #me {
        width: calc(100% - 10px);
    }

    #search-bar input {
        width: calc(100% - 20px) !important;
    }

    #header-unit {
        margin-left: 0px;
        max-width: calc(100% - 32px) !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        background: black;
        color: white;
    }

    svg {
        fill: white;
    }

    a {
        color: #9AEBA3 !important;
    }

    #copyright-info {
        background-color: #3b3b3b8b;
    }

    #update {
        color: rgb(255, 255, 255, 0.401) !important;
    }

    #header-unit,
    #tool,
    #header-collapse,
    #back-to-top {
        background-color: rgba(68, 68, 68, 0.85) !important;
        border: solid 1px #444 !important;
    }

    .quick-link {
        border-left-color: #555;
    }

    #quick-links>b {
        color: rgba(255, 255, 255, 0.5) !important;
    }

    .quick-link:hover {
        background-color: #727272 !important;
    }

    .scroll-indicator {
        background-color: #808080ca !important;
    }

    .loader-wrapper {
        background-color: #4d4d4d !important;
        color: white !important;
    }

    #en-warn,
    .pages-container,
    #app-element-2,
    #tool,
    #header-collapse {
        border-color: #575757 !important;
    }

    #glass {
        background-color: #000 !important;
        border-left-color: #575757 !important;
    }

    .crumb>a,
    .crumb a::after {
        color: #ffffffd4 !important;
    }

    .tool-elements>a,
    #dev-cal-1>a,
    #header-unit>div>a,
    #header-unit>div>span>a,
    .loader-wrapper,
    .app-element-pop-ups.active>a,
    .app-element-pop-ups-3.active ul#app-site-list>a {
        color: white !important;
    }

    @media (max-width: 768px) {

        .header,
        #quick-links {
            border-right: none !important;
        }
    }
}

/* special elements style */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 10px;
    background: rgba(224, 224, 224, 0.8);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

/* Make the scrollbar appear on top of the content */
html {
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: #888 transparent;
    /* For Firefox */
}

body {
    overflow-y: overlay;
    /* 仅启用垂直滚动条 */
    overflow-x: hidden;
    /* 禁用水平滚动条 */
}

/* WebKit browsers: Scrollbar customization */
::-webkit-scrollbar {
    width: 5px;
    /* 垂直滚动条宽度 */
    height: 0px;
    /* 隐藏水平滚动条 */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Make track transparent */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Scrollbar color */
    border-radius: 4px;
    /* Round scrollbar edges */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker on hover */
}


a {
    text-decoration: none;
    color: #13678A;
}

a:hover {
    text-decoration: underline;
    color: hsl(198, 76%, 51%);
}

@font-face {
    font-family: 'Source Han Sans';
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2) format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Source Han Sans';
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2) format('woff2');
    font-weight: bold;
}

/* @-moz-document url-prefix() {
    div {
        scrollbar-width: none;
    }
} */