/*
 * Author: Jerry Li
 * Version: 16.0
 * Date: Jul 11 2025
 */

body {
    margin: 0;
}

#common-header {
    position: fixed;
    top: 8px;
    left: 8px;
    right: 8px;
    overflow: hidden;
    z-index: 3;
}

#compound {
    width: 100%;
    height: 30px;
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: start;
    align-items: center;
}

#compound a,
#details a {
    color: unset;
    text-decoration: none;
}

#logo {
    width: 20px;
    height: 20px;
    background-image: url(../img/logo-button-light.svg);
    background-size: contain;
    margin-left: 5px;
    margin-right: 10px;
}

#c-links,
#c-links a {
    display: flex;
    align-items: flex-end;
}

#c-links a {
    border-radius: 10px;
    padding: 5px;
    padding-right: 8px;
    font-size: 14px;
}

#c-links a:not(:last-child) {
    margin-right: 5px;
}

#c-links a:hover {
    background-color: #e5e5e5;
}

#c-links a .material-symbols-outlined {
    font-size: 18px;
    font-weight: 300;
    margin-right: 5px;
}

#home-button.active .material-symbols-outlined,
#history-button.active .material-symbols-outlined,
#chat-button.active .material-symbols-outlined,
#web-stories-button.active .material-symbols-outlined {
    font-weight: 500;
}

#home-button.active,
#history-button.active,
#chat-button.active,
#web-stories-button.active {
    font-weight: bold;
    background-color: #f2f2f2;
}

#details {
    display: none;
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

#details.display {
    width: fit-content;
    display: block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 8px;
    background-color: #fafafa;
}

#details ul {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr;
}

#details span {
    display: block;
    padding: 2px;
}

#details li {
    list-style: none;
    padding: 2px;
    border-bottom: 1px solid transparent;
    display: grid;
    grid-template-columns: 2fr 1fr 1em;
}

#details .material-symbols-outlined {
    font-size: 18px;
}

.file-type {
    opacity: 0.5;
    font-size: 14px;
}

@media (max-width: 430px) {
    .c-label {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    #logo {
        background-image: url(../img/logo-button-dark.svg);
    }

    #c-links a:hover {
        background-color: #383838;
    }

    #details.display {
        background-color: #202020;
    }

    #details li {
        border-bottom-color: transparent;
    }

    #home-button.active,
    #history-button.active,
    #chat-button.active,
    #web-stories-button.active {
        background-color: #303030 !important;
    }
}

#backlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eef1f4;
    z-index: -1;
}

@media (prefers-color-scheme: dark) {
    #backlight {
        background-color: #012030;
    }
}

#copyright-info {
    font-family: 'Manrope', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

#copyright-info a {
    color: unset;
    text-decoration: none;
}

.empty-box {
    height: 100vh;
}

.text-n {
    font-family: 'Manrope', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

/* Blog-specific styles */

@font-face {
    font-family: 'Source Han Sans';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2);
}

@font-face {
    font-family: 'Source Han Sans';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2);
}

main {
    font-family: 'Source Han Sans', 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo {
    background-image: url(../img/logo-button-light.svg);
}

@media (prefers-color-scheme: dark) {
    #logo {
        background-image: url(../img/logo-button-dark.svg);
    }
}

a {
    color: unset;
}

#back-to-top {
    width: 20px;
    height: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(238, 238, 238, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    border: solid 1px #eee;
    border-radius: 5px;
    color: #000;
    z-index: 1;
    transition: all 0.2s;
}

#back-to-top a {
    text-decoration: none;
}

#back-to-top .material-symbols-outlined {
    font-size: 20px;
}

#back-button {
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

#back-to-top:hover #back-button,
#back-to-top:hover {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(192, 192, 192, 0.50);
}

@media (prefers-color-scheme: dark) {
    #back-to-top {
        color: #fff !important;
    }

    #back-to-top {
        background-color: rgba(68, 68, 68, 0.85) !important;
        border: solid 1px #444 !important;
    }
}

#bookmark {
    position: fixed;
    top: 130px;
    left: calc(80% - 5px);
    width: calc(20% - 10px);
}

nav {
    height: fit-content;
    font-family: 'Source Han Sans', 'Manrope', 'ITC Garamond Narrow', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    background-color: hsl(210, 21%, 88%);
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
}

nav>p {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    margin-bottom: 0;
    font-size: 14px;
    border-top: solid 1px #e0e0e04c;
}

nav>p>a {
    display: flex;
    align-items: center;
}

nav>p>a>span.material-symbols-outlined {
    font-size: 20px;
    font-weight: 700;
}

nav>ul {
    margin-left: 20px;
    margin-right: 15px;
    padding-left: 0;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav li {
    margin-bottom: 2px;
    font-size: 15px;
    padding: 2px;
    border-radius: 5px;
    transition: all 0.2s;
}

nav li:hover {
    padding-left: 10px;
    background: hsl(210, 21%, 78%);
}

#post-flip {
    position: fixed;
    right: 4px;
    top: 70px;
    display: flex;
}

#post-flip a {
    width: 40px;
    height: 40px;
    border: solid 1px #eee;
    background-color: #fff;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#post-flip a:hover {
    background-color: #eee;
}

h1,
h2,
p,
h3,
ul {
    font-family: 'Manrope', 'ITC Garamond Narrow', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    margin-left: calc(10% + 20px);
    font-family: 'Manrope', 'ITC Garamond Narrow', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: calc(80% - 22px);
    text-align: justify;
    margin-top: 70px;
    margin-left: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    border: solid 1px #e2e2e2;
    border-radius: 10px;
    transition: all 0.2s;
}

main.active,
#bookmark.active {
    filter: blur(12px);
}

main p,
main h2,
main h3,
main ul,
main .codehilite,
main a,
footer {
    margin-left: 14px;
    margin-right: 14px;
}

.post-banner {
    height: fit-content;
    min-height: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(210, 21%, 88%);
    border-top-right-radius: 10px;
    font-family: 'Manrope', 'ITC Garamond Narrow', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-banner::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
    background-image: linear-gradient(to right, hsl(210, 21%, 78%), hsl(210, 21%, 88%));
    content: '';
}

.post-banner a {
    text-decoration: none;
    padding-left: 20px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.post-banner a span {
    font-size: 14px;
}

.post-banner a span.material-symbols-outlined {
    font-size: 20px;
}

.post-banner #title {
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
    padding-left: 20px;
    margin-right: 10px;
    transition: all 0.2s;
    white-space: nowrap;
    overflow: hidden;
}

.b-item>ul {
    margin: 0;
    padding: 0;
}

.b-item>ul>li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.codehilite {
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    margin-right: 30px;
    border: solid 1px #eee;
    background-color: black;
    margin-bottom: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.small-table {
    margin-left: 10px;
}

.small-table table {
    font-family: 'Manrope', 'ITC Garamond Narrow', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.small-table table>thead {
    text-align: left;
}

.small-table table td {
    padding-right: 10px;
    border-bottom: solid 1px #ddd;
}

#small-table-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    margin-left: 30px;
}

#footer-links a {
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    svg {
        fill: white;
    }

    main {
        border-color: hsl(200, 96%, 6%);
    }

    .post-banner {
        border-bottom-color: #333;
    }

    nav,
    .post-banner {
        background-image: unset !important;
        background-color: hsl(200, 96%, 8%) !important;
    }

    nav::before,
    .post-banner::before {
        background-image: linear-gradient(to right, hsl(200, 96%, 6%), hsl(200, 96%, 8%));
    }

    #post-flip a {
        border-color: #333;
        background-color: black;
    }

    #post-flip a:hover {
        background-color: #333;
    }

    #list.active {
        border-bottom-color: #5e5e5e;
    }

    .codehilite {
        border-color: #333;
    }
}

@media (max-width: 768px) {
    #content-unit {
        margin-top: 130px;
    }

    #bookmark {
        position: fixed;
        left: 12px;
        top: 60px;
        display: flex;
        width: 80px;
        border-radius: 40px;
        border: solid 1px #eee;
        background-color: #fff;
    }

    main {
        width: calc(100% - 32px);
    }

    .post-banner {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        min-height: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: unset;
    }

    nav {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background-color: unset;
    }

    nav #list-of-contents {
        padding-top: 0;
        margin-top: 10px;
        margin-left: 9.5px;
        border-top: none;
    }

    .post-banner::before {
        display: none;
    }

    .post-banner::after {
        height: 5px;
    }

    .post-banner a {
        padding-left: 0;
        margin-top: 10px;
    }

    .post-banner span {
        display: none;
    }

    #post-flip {
        top: 60px;
    }

    @media (prefers-color-scheme: dark) {
        #bookmark {
            background-color: transparent;
            border-color: #333;
        }

        nav,
        .post-banner {
            background-color: transparent !important;
        }
    }
}