<!-- Header -->
<script>
    $(function () {
        $("#home").click(function () {
            $("#waterfall").toggleClass("active");
        });
    });
</script>
<header id="axon">
    <div id="bar">
        <div id="lines">
            <span class="lines" id="lines-2"><b>Jerry Li</b> is a first-year student at University of Virginia.
                <a href="https://jerryly.top/pages/subpages/about.html">Learn more about his cliche stories.</a></span>
            <span class="lines">Or not. I'm not him, I don't care.</span>
        </div>
        <div id="home" tabindex="1">
        </div>
    </div>
    <div id="waterfall">
        <div id="wa-table">
            <div id="wa-links">
                &emsp;
                <ul>
                    <li><a href="https://jerryly.top">home</a></li>
                    <li><a href="#">go to top</a></li>
                    <a href="https://jerryly.top/pages/subpages/search.html"><input type="text"
                            placeholder="search"></a>
                    <li><a href="https://jerryly.top/pages/subpages/noticeboard.html">noticeboard</a></li>
                    <li><a href="https://jerryly.top/pages/subpages/survey.html">survey</a></li>
                </ul>
            </div>
            <div id="wa-links">
                <h3>living</h3>
                <ul>
                    <li><a href="https://jerryly.top/pages/subpages/christmas.html">christmas</a></li>
                    <li><a href="https://jerryly.top/pages/subpages/contact.html">contact</a></li>
                    <li><a href="https://jerryly.top/pages/subpages/flashback.html">rainbow room (under
                            construction)</a></li>
                    <li><a href="https://jerryly.top/pages/subpages/friends.html">friends</a></li>
                    <li><a href="https://jerryly.top/pages/subpages/gallery.html">gallery</a></li>
                    <li><a href="https://jerryly.top/pages/subpages/homemade_giftcard.html">giftcard</a></li>
                    <li><a href="https://jerryly.top/pages/subpages/music.html">music</a></li>
                </ul>
            </div>
            <div id="wa-links">
                <h3>learning</h3>
                <ul>
                    <li><a href="https://jerryly.top/pages/subpages/about.html">me</a></li>
                    <li><a href="https://jerryly.top/pages/subpages/apple.html">apple</a></li>
                    <li><a href="https://jerryly.top/pages/subpages/classical_ch.html">classical chinese (1)</a></li>
                    <li><a href="https://jerryly.top/pages/subpages/classical_ch_sh.html">classical chinese (2)</a></li>
                    <li><a href="https://jerryly.top/pages/subpages/develop.html">develop</a></li>
                </ul>
            </div>
        </div>
        <div id="bubble-1"></div>
    </div>
</header>