{% extends "post.html" %} {% block content %}

<div class="content-unit">
    <h2 class="text-n">Jerry Li's writings and documentations</h2>
    <h3 class="text-n">李江源的博客和文字收集簿</h3>
    <p class="text-n">
        Documentations
    </p>
    <ul id="list">
        <li><a href="./posts/20260515.html">在我上学的时候选入部编版教材的鲁迅文集</a></li>
    </ul>
    <p class="text-n">
        Blogs
    </p>
    <ul id="list">
        <li><a href="./posts/20240404.html">Home</a></li>
        <li><a href="./posts/20240604.html">Apr 4 2024</a></li>
        <li><a href="./posts/20241004.html">Jun 4 2024</a></li>
        <li><a href="./posts/20241123.html">Oct 4 2024</a></li>
        <li><a href="./posts/20241128.html">Nov 28 2024</a></li>
        <li><a href="./posts/20250103.html">Jan 3 2025</a></li>
        <li><a href="./posts/20250121.html">Jan 4 2025</a></li>
        <li><a href="./posts/20250515.html">CS 2130 Lab 01</a></li>
        <li><a href="./posts/CS2100-Notes.md">CS 2100 Notes</a></li>
    </ul>
    <div class="empty-box"></div>
</div>

{% endblock %}