{% extends "layout.html" %}

{% block title %}Jerry's blog...{% endblock %}

{% block content %}
<h2>Jerry's blog 李江源的博客</h2>
<p id="text-n">
    A term coined by Peter Merholz, who jokingly broke the word weblog into the phrase we blog in the sidebar of his
    blog Peterme.com in April or May 1999, blog is a form of documentation that many regard outdated under the current
    prevalence of social media.
</p>
<p id="text-n">
    A documentation, however, remains necessary and critical under almost every circumstance where one needs to look up
    for information about an API of a programming language. Thus blogs persist to this day.
</p>
<p id="text-n">
    This blog contains much more than documentations - in fact, there are no documentation here just for now - it's more
    personal and records some notes and niceties of my life.
    I hope you enjoy reading it.
</p>
<p id="text-n">
    <b>日志位于右侧边栏。 Click on the entries on the right-hand side.</b>
</p>
<!-- <ul>
    {% for post in posts %}
    <li id="text-n"><a href="{{ url_for('post', post_name=post) }}">{{ post | capitalize }}</a></li>
    {% endfor %}
</ul> -->
<a id="text-n" href="{{ url_for('post', post_name=20240404) }}">
    <i class="fa-solid fa-scale-balanced"></i>&emsp;<b>Legal statement</b>
</a>
<br><br><br><br><br><br><br><br><br><br>
{% endblock %}