<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>{% block title %}My Frozen Flask App{% endblock %}</title>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
    <script>
        $(function () {
            $("#home").click(function () {
                $("#bartender").toggleClass("active");
                $("#content-unit").toggleClass("active");
                $("footer").toggleClass("active");
            });
        });
    </script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charter-webfont@4/charter.min.css" />
</head>

<body>
    <header id="bartender">
        <div id="home"></div>
        <div id="more">
            <div id="more-links">
                <div class="more-link">
                    <a href="https://blog.jerryly.top">Blog</a>
                </div>
                <div class="more-link">
                    <a href="https://live.jerryly.top">Live</a>
                </div>
                <div class="more-link">
                    <a href="./about.html">About Me</a>
                </div>
                <div class="more-link">
                    <a href="./apple.html">9:41</a>
                </div>
                <div class="more-link">
                    <a href="./classical_ch.html">古文</a>
                </div>
                <div class="more-link">
                    <a href="./music.html">Contact</a>
                </div>
                <div class="more-link">
                    <a href="./gallery.html">Gallery</a>
                </div>
                <div class="more-link">
                    <a href="./music.html">Music</a>
                </div>
                <div class="more-link">
                    <a href="./search.html">Search</a>
                </div>
            </div>
            <div id="more-letter">
                <div class="more-title">Hi. This is Jerry Li.</div>
                <p class="more-text">And you're looking at an accumulative project of his that has been through more
                    than 1,000 commits, 10+ iterations, and multiple overhauls - his website. </p>
                <p class="more-text">To answer the question that you probably have in your head, indeed, one has to be
                    unimaginably narcissistic to care so much to squander hours on something only he or she would ever
                    even see. But in my defense, a website - any website - is more than its viewers or users. I'd argue
                    that
                    to obtain an optimal user experience, every minute detail that would end up being undiscovered by
                    anyone matters just as much as the visuals and buttons that are front and center.</p>
                <p class="more-text">I'm currently a first-year student at University of Virginia majoring in Computer
                    Science (BA), and while "CS-major college students" has lost its glamour long ago, I feel confident
                    to say that I'm the dumbest of them all. No seriously, I'm extremely concerened about that Toy ISA
                    stuff I'm about to be tested on next Tuesday while I'm writing this.</p>
                <p class="more-text">Will I later realize that including this piece of information should count as
                    oversharing and regret doing so? Maybe. Will I delete it? No. I know what I'm terrible at, but I
                    also know what I love, even if I'm not an expert. I am passionate about <b>softwares</b>, about
                    <b>designs</b>, about <b>music</b>, and about <b>user interfaces</b>.
                </p>
                <p class="more-text">As I had repeatedly told myself, it's okay to fall down and cry. It's okay to fall
                    at the same spot and cry again. But it's never okay to bypass that spot with a mindset of "I'll
                    never get through without falling" - that's self-deceiving. Everything and everyone's changing.</p>
                <p class="more-text">
                    Give them, and give ourselves, time and patience.
                </p>
            </div>
        </div>
    </header>
    <div id="content-unit">
        <div id="bookmark">
            <div class="post-banner">
                <a id="text-n" href="{{ url_for('index') }}"><i class="fa-solid fa-house"></i><span>&emsp;Back to
                        Blog</span></a>
                <h1 id="title">{{ title }}</h1>
            </div>
            <nav tabindex="1">
                <p id="list-of-contents"><a href="{{ url_for('post', post_name='content') }}"><i
                            class="fa-solid fa-rectangle-list"></i><b>&emsp;Contents</b></a></p>
                <ul id="list">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('post', post_name=20240604) }}">Jun 4 2024</a></li>
                    <li><a href="{{ url_for('post', post_name=20241004) }}">Oct 4 2024</a></li>
                    <li><a href="{{ url_for('post', post_name=20241128) }}">Nov 28 2024</a></li>
                    <li><a href="{{ url_for('post', post_name=20250103) }}">Jan 3 2025</a></li>
                    <li><a href="{{ url_for('post', post_name=20241123) }}">Jan 4 2025</a></li>
                    <li><a href="{{ url_for('post', post_name=20250121) }}">CS 2130 Lab 01</a></li>
                    <li><a href="{{ url_for('render_markdown', filename='CS2100-Notes') }}">CS 2100 Notes</a></li>
                </ul>
            </nav>
        </div>
        <div id="post-flip">
            {% if prev_page %}
            <a href="{{ prev_page }}">
                <i class="fa-solid fa-circle-chevron-left"></i>
            </a>
            {% endif %}
            {% if next_page %}
            <a href="{{ next_page }}">
                <i class="fa-solid fa-circle-chevron-right"></i>
            </a>
            {% endif %}
        </div>
        <div id="back-to-top">
            <a href="#">
                <div id="back-button">
                    <i class="fas fa-arrow-up"></i>
                </div>
            </a>
        </div>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer id="copyright-info">
        <p class="copyright-info" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a
                property="dct:title" rel="cc:attributionURL" href="https://jerryly.top">The website
                https://jerryly.top</a>
            by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://jerryly.top">Jerry
                Li</a> is licensed under <a href="https://creativecommons.org/licenses/by-nd/4.0/?ref=chooser-v1"
                target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-ND 4.0&emsp13;<img
                    style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                    src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img
                    style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                    src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img
                    style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                    src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1" alt=""></a></p>
        <p class="copyright-info" id="footer-links">
            <a href="mailto:jerrylovesapple@icloud.com">
                <i class="fa-solid fa-at"></i>
            </a>
            &emsp;
            <a href="javascript:;" onclick="alert('Currently no items in test. Stay tuned!')">
                <i class="fas fa-flask"></i>
            </a>
            &emsp;
            <a href="https://blog.jerryly.top/20240404.html">
                <i class="fa-solid fa-scale-balanced"></i>
            </a>
        </p>
    </footer>
</body>

</html>