<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Frozen Flask App{% endblock %}</title>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
    <script>
        $(function () {
            $("#b-close").click(function () {
                $("#attic").toggleClass("collapse");
            });
        });
        $(function () {
            $("#header-collapse-button").click(function () {
                $("#header-unit").toggleClass("active");
                $("#content-unit").toggleClass("active");
            });
        });
        // Ensure the DOM is fully loaded before running the script
        $(document).ready(function () {
            // Get the title of the document
            var title = $(document).attr("title");
            // Display the title inside an element with id 'titleDisplay'
            $("#titleDisplay").text(title);
        });
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body>
    <header id="attic">
        <div id="b-close"><i class="fas fa-arrow-right"></i></div>
        <a href="https://jerryly.top">
            <div class="b-item-0"></div>
        </a>
        <div class="b-item-1"><span id="titleDisplay"></span></div>
        <div id="attic-items">
            <div class="b-item-2">publications</div>
            <div class="b-item">
                <a href="javascript:;">None</a>
            </div>
        </div>
    </header>
    <div id="back-to-top">
        <a href="#">
            <div id="back-button">
                <i class="fas fa-arrow-up"></i>
            </div>
        </a>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Frozen Flask App</p>
    </footer>
</body>

</html>