<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Frozen Flask App{% endblock %}</title>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
    <script>
        $(function () {
            $("#b-close").click(function () {
                $("#attic").toggleClass("collapse");
            });
        });
        $(function () {
            $("#header-collapse-button").click(function () {
                $("#header-unit").toggleClass("active");
                $("#content-unit").toggleClass("active");
            });
        });
        $(function () {
            $("#list-of-contents").click(function () {
                $("#list").toggleClass("active");
            });
        });
        // Ensure the DOM is fully loaded before running the script
        $(document).ready(function () {
            // Get the title of the document
            var title = $(document).attr("title");
            // Display the title inside an element with id 'titleDisplay'
            $("#titleDisplay").text(title);
        });
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charter-webfont@4/charter.min.css" />
</head>

<body>
    <header id="attic">
        <div id="b-close"><i class="fas fa-arrow-right"></i></div>
        <a href="https://jerryly.top">
            <div class="b-item-0"></div>
        </a>
        <div class="b-item-1"><span id="titleDisplay"></span></div>
        <div id="attic-items">
            <div class="b-item-2">things I love</div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/apple.html">Apple</a>
            </div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/friends.html">Friends</a>
            </div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/music.html">Music</a>
            </div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/taylorswift.html">Swiftie</a>
            </div>
            <div class="b-item-2">festivity</div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/christmas.html">Christmas</a>
            </div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/homemade_giftcard.html">Homemade Giftcard</a>
            </div>
            <div class="b-item-2">other stuff</div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/aluminum_studio.html">About</a>
            </div>
            <div class="b-item">
                <a href="https://blog.jerryly.top">
                    Blog&emsp13;&emsp13;
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            </div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/classical_ch_sh.html">Classical Chinese for Senior High</a>
            </div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/classical_ch.html">Classical Chinese for Junior High</a>
            </div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/clock.html">Clock</a>
            </div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/contact.html">Contact</a>
            </div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/develop.html">Develop</a>
            </div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/flashback.html">Rainbow Room</a>
            </div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/gallery.html">Gallery</a>
            </div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/noticeboard.html">Noticeboard</a>
            </div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/search.html">Search (deprecated)</a>
            </div>
            <div class="b-item">
                <a href="https://jerryly.top/pages/survey.html">Survey</a>
            </div>
        </div>
    </header>
    <nav>
        <p id="list-of-contents"><i class="fa-solid fa-rectangle-list"></i>&emsp;<b>contents</b></p>
        <ul id="list">
            <li><a href="{{ url_for('index') }}">主页</a></li>
            <li><a href="{{ url_for('post', post_name=20240604) }}">美国面签全过程</a></li>
            <li><a href="{{ url_for('post', post_name=20241004) }}">杂谈</a></li>
            <li><a href="{{ url_for('post', post_name=20241128) }}">感恩节</a></li>
            <li><a href="{{ url_for('render_markdown', filename='example') }}">笔记</a></li>
        </ul>
    </nav>
    <div id="back-to-top">
        <a href="#">
            <div id="back-button">
                <i class="fas fa-arrow-up"></i>
            </div>
        </a>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <div id="copyright-info">
        <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title"
                rel="cc:attributionURL" href="https://blog.jerryly.top">The website https://blog.jerryly.top</a> by <a
                rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://jerryly.top">Jerry
                Li</a> is licensed under <a href="https://creativecommons.org/licenses/by-nd/4.0/?ref=chooser-v1"
                target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-ND 4.0<img
                    style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                    src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img
                    style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                    src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img
                    style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                    src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1" alt=""></a></p>
        <p class="copyright-info">
            <a href="mailto:jerrylovesapple@icloud.com">
                <i class="fa-solid fa-at"></i>&emsp13;jerrylovesapple@icloud.com
            </a>
            &emsp;
            <a href="javascript:;" onclick="alert('Currently no items in test. Stay tuned!')">
                <i class="fas fa-flask"></i>&emsp13;
                Lab
            </a>
            &emsp;
            <a href="https://blog.jerryly.top/20240404.html">
                <i class="fa-solid fa-scale-balanced"></i>&emsp13;
                Legal
            </a>
        </p>
    </div>
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
</body>

</html>